*:after,
*:before,
* {
  box-sizing: border-box;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  > div {
    width: 100%;
  }
  label {
    display: block;
    margin: 10px 0;
  }
  input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 6px 12px;

  }
  button {
    padding: 6px 12px;
    margin-top: 20px;
    background: #fff;
    border: #bbb 1px solid;
    font-size: 16px;
    cursor: pointer;

  }
}